<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" routerLink="/">AngularCMS</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let page of pages?.value">
        <li class="nav-item" *ngIf="page.slug !== 'home'">
          <a class="nav-link" routerLink="/{{page.slug}}">{{page.title}}</a>
        </li>
      </ng-container>
		</ul>

		<ul class="navbar-nav ml-auto" *ngIf="!userSignedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signin">Sign In</a>
      </li>
		</ul>

		<ul class="navbar-nav ml-auto" *ngIf="userSignedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signout">Hi {{user}}, signout</a>
      </li>
		</ul>
	</div>
</nav>
