<h1 class="display-4">Signin</h1>

<div class="alert alert-success" *ngIf="userRegistered">
  <p class="lead">Thank you for registering, you can now sign in.</p>
</div>

<form novalidate #f="ngForm" (ngSubmit)="signin(f)">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" placeholder="Username"
      name="username" [(ngModel)]="username" #userName="ngModel" minlength="2"
      required>
  </div>
  <div class="alert alert-danger" *ngIf="userName.errors?.required &&
    userName.touched">
    Username is required.
  </div>
  <div class="alert alert-danger" *ngIf="userName.errors?.minlength &&
    userName.touched">
    Minimum length is 2 characters.
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password"
      name="password" [(ngModel)]="password" #userPassword="ngModel"
      minlength="4" required>
  </div>
  <div class="alert alert-danger" *ngIf="userPassword.errors?.required &&
    userPassword.touched">
    Password is required.
  </div>
  <div class="alert alert-danger" *ngIf="userPassword.errors?.minlength &&
    userPassword.touched">
    Minimum length is 4 characters.
  </div>

  <div class="form-group">
    <button class="btn btn-primary" [disabled]="f.invalid">Signin</button>
  </div>
</form>
